// ---------
// ---------
// CSS RESET
// ---------
// ---------

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol { list-style: none; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
   text-decoration: none;
   color: var(--textColor);
}

i {
   cursor: pointer;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, p,
input, button, textarea, select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within { scroll-behavior: auto; }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ---------
// ---------
// CSS SETUP
// ---------
// ---------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

html {
   scroll-behavior: smooth;
   scroll-padding: 8rem;
   background-color: white;
   color: black;
   font-family: "Poppins", "sans-serif";
   overflow-x: hidden;
}

:root {
   --bgColor: white;
   --navColor: #DDF1FF;
   --primaryColor: #81CAFF;
   --primaryColorDark: #1ca0ff;
   --testimonialBgColor: #E6F4FF;
   --titleColor: black;
   --textColor: #252525;
}

body {
   section.hero {
      .hero__right {
         .hero__image--imgDark {
            display: none;
         }
      }
   }
}

body.dark-theme {
   --bgColor: #00121f;
   --navColor: #9ed6ff;
   --primaryColor: #81CAFF;
   --primaryColorDark: #1ca0ff;
   --testimonialBgColor: #1ca0ff;
   --titleColor: white;
   --textColor: #e7e7e7;

   background-color: var(--bgColor);

   h1, h2, h3, li, a {
      color: var(--titleColor);
   }

   p {
      color: var(--textColor);
   }

   header {
      background-color: var(--navColor);

      nav {
         .nav__menu {
            .nav__menu--center {
               .nav__links a {
                  color: black;
               }
            }

            .nav__menu--right {
               .nav__links i {
                  color: black;
               }
            }   
         }
      }
   }

   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               background-color: var(--primaryColorDark);
            }
         }

         .hero__buttons {
            .hero__ctaSecondary {
               color: white;
            }
         }
      }

      .hero__right {
         .hero__image--imgLight {
            display: none;
         }

         .hero__image--imgDark {
            display: unset;
         }
      }
   }

   section.help {
      .help__cards {
         .help__adopt, .help__donate {
            .help__iconDark {
               display: unset;
            }

            .help__iconLight {
               display: none;
            }
         }
      }
   }
}

// ----------
// Scroll Bar
// ---------- 

html::-webkit-scrollbar {
   width: .85em;
   background-color: rgb(30, 30, 30);
}
  
html::-webkit-scrollbar-thumb {
   background-color: var(--primaryColor);
}

html {
   scrollbar-color: var(--primaryColor) rgb(30, 30, 30);
}

// ---------
// Selection
// ---------

::-moz-selection {
   background: var(--primaryColor);
}
 
 ::selection {
   background: var(--primaryColor);
}

// Scroll Reveal
/* html.sr .load-hidden {
   visibility: hidden;
} */

// ---------------               ---------------------------------
// ---------------               ---------------------------------
// UTILITY CLASSES               --------- Change These! ---------
// ---------------               ---------------------------------
// ---------------               ---------------------------------

.container {
   margin-inline: auto;
   margin-block: 4rem;
   padding-inline: 2rem;
   max-width: 1600px;
}

.nav__content {
   margin-inline: auto;  
   max-width: 1600px;
}

.button {
   padding: .5rem 1rem;
   padding-inline: 1.5rem;
   border: 0;
   border-radius: 5rem;
   cursor: pointer;
   background-color: var(--primaryColorDark);
   color: white;
   font-weight: 600;
}

// Navigation JavaScript classes

nav {
   top: -150%;
}

.nav-active {
   top: 0;
}

.scroll-header {
   background-color: var(--navColor);
}

// ----------
// ----------
// NAVIGATION
// ----------
// ----------

header {
   position: fixed;
   top: 0;
   z-index: 1000;
   width: 100%;
   transition: .3s;

   .nav__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__notExtended {
         display: flex;
         justify-content: space-between;
         width: 100%;
         z-index: 1000;
         padding: 1rem 2rem;

         .nav__logo {
            z-index: 999;
            font-weight: bold;
            width: 6rem;
            height: auto;
         }
   
         .nav__hamburger {
            z-index: 999;
            width: 25px;
            stroke: var(--titleColor);
            cursor: pointer;
         }
      }

      nav {
         position: fixed;
         right: 0;
         width: 100%;
         transition: 1s ease-in-out;
         z-index: 999;

         .nav__menu {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            padding-block: 5rem;
            background-color: var(--navColor);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;

            .nav__menu--center {
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               gap: 2rem;

               .nav__links {
                  font-size: 1.5rem;

                  a {
                     transition: color .4s;
                     &:hover {
                        color: var(--primaryColorDark);
                     }                  
                  }
               }
            }

            .nav__menu--right {
               display: flex;
               align-items: center;
               gap: 1.5rem;
               margin-right: 2rem;

               .nav__links i {
                  transform: translateY(20%);
               }

               .nav__ctaPrimary {
                  transition: .3s background-color,
                              .3s color;
                  &:hover {
                     background-color: var(--primaryColor);
                     color: black;
                  }
               }

               .nav__ctaSecondary {
                  background-color: transparent;
                  color: black;
                  outline: 3px solid var(--primaryColorDark);
                  outline-offset: -3px;
                  transition: .3s background-color,
                              .3s color;

                  &:hover {
                     background-color: var(--primaryColorDark);
                     color: white;
                  }
               }
            }
         }
      }
   }
}

// ------------
// ------------
// Hero Section
// ------------
// ------------

section.hero {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 5rem;
   padding-top: 6rem;

   .hero__left {
      .hero__header {
         font-size: 2rem;
         font-weight: bold;
         line-height: 40px;
         margin-bottom: 2rem;
         position: relative;
         z-index: 0;

         span::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 4rem;
            left: 5rem;
            width: 170px;
            height: 11px;
            background-color: var(--primaryColor);
         }
      }

      .hero__desc {
         font-size: .813rem;
         margin-bottom: 2rem;
         width: 60%;
         color: var(--textColor);
      }

      .hero__buttons {
         display: flex;
         gap: .75rem;
         width: fit-content;
         font-size: .75rem;

         .hero__ctaPrimary {
            transition: .3s background-color,
                        .3s color;

            &:hover {
               background-color: var(--primaryColor);
               color: black;
            }
         }

         .hero__ctaSecondary {
            color: black;
            background-color: transparent;
            outline: 3px solid var(--primaryColorDark);
            outline-offset: -3px;
            transition: .3s background-color,
                        .3s color;

            &:hover {
               background-color: var(--primaryColorDark);
               color: white;
            }
         }
      }
   }

   .hero__right {
      .hero__image--img {
         max-width: 80%;
         max-height: 420px;
         margin-inline: auto;
      }
   }
}

// ------------
// ------------
// Help Section
// ------------
// ------------

section.help {
   margin-top: 10rem;

   .help__header {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3rem;

      span {
         color: var(--primaryColorDark);
      }
   }

   .help__cards {
      display: flex;
      flex-direction: column;
      gap: 5rem;

      .help__adopt, .help__donate {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;

         .help__adopt--header, .help__donate--header {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            position: relative;
         }

         .help__adopt--header span::after {
            content: '';
            position: absolute;
            background-color: var(--primaryColor);
            width: 60px;
            height: 10px;
            top: .95rem;
            left: 0;
            z-index: -1
         }

         .help__donate--header span::after {
            content: '';
            position: absolute;
            background-color: var(--primaryColor);
            width: 70px;
            height: 10px;
            top: .95rem;
            left: 0;
            z-index: -1
         }

         .help__adopt--desc, .help__donate--desc {
            width: 50%;
            font-size: .813rem;
            color: var(--textColor);
            margin-bottom: 1.25rem;
         }

         .help__adopt--buttons, .help__donate--buttons {
            display: flex;

            .help__iconDark {
               width: 3.125rem;
               display: none;
               margin-right: 1.5rem;
            }

            .help__iconLight {
               width: 3.125rem;
               height: auto;
               margin-right: 1.5rem;
            }

            .help__ctaPrimary {
               display: flex;
               align-items: center;

               color: white;
               transition: .3s background-color,
                           .3s color;

               &:hover {
                  background-color: var(--primaryColor);
                  color: black;
               }
            }
         }
      }
   }
}

// -------------------  
// -------------------  
// Testimonial Section
// -------------------  
// -------------------  

section.testimonial {
   margin-bottom: -5rem;

   .testimonial__header {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2.5rem;

      span { color: var(--primaryColorDark); }
   }

   .swiper {
      min-width: 200px;
      max-width: 300px;
      min-height: 300px;

      .swiper-wrapper {
         .swiper-slide {
            background-color: var(--testimonialBgColor);
            border-radius: 2rem;
            padding: 1.5rem;
            
            .swiper__header {
               display: flex;
               align-items: center;
               justify-content: center;
               gap: .75rem;
               margin-bottom: 1rem;

               .swiper__header--img {
                  height: 50px;
                  width: 50px;
               }

               .swiper__header--name {
                  font-size: 1.2rem;
                  line-height: 1.3rem;
               }
            }

            .swiper__desc {
               font-size: .813rem;
               font-weight: 500;
               text-align: center;
            }
         }
      }

      .swiper-button-prev, .swiper-button-next {
         transform: translateY(3.5rem);
      }
   }
}

// -------------
// -------------
// About Section
// -------------
// -------------

section.about {
   margin-bottom: 0;
   padding-bottom: 7rem;

   .about__header {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3rem;

      span {
         color: var(--primaryColorDark);
      }
   }

   .about__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      .about__contact {
         margin-bottom: 2rem;

         .about__contact--header {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1.25rem;
         }

         p {
            font-size: .813rem;
         }
      }

      .about__social {
         margin-bottom: 2rem;

         .about__social--header {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1.25rem;
         }

         i {
            margin-right: 1.25rem;
         }
      }

      .about__policy {
         margin-bottom: 2rem;

         .about__policy--header {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1.25rem;
         }

         .about__policy--flex {
            display: flex;
            gap: 3rem;

            .about__policy--support li, .about__policy--policy li{
               font-size: .813rem;
            }
         }

      }

      .about__team {
         margin-bottom: 2rem;

         .about__team--header {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1.25rem;

            span {
               color: var(--primaryColorDark);
            }
         }

         .about__team--cta {
            transition: .3s background-color,
                        .3s color;

            &:hover {
               background-color: var(--primaryColor);
               color: black;
            }
         }
      }
   }
}

// -------------
// -------------
// Media Queries
// -------------
// -------------

@media screen and (max-width: 330px) { // Galaxy Fold
   section.hero {
      margin-top: 1.5rem;
      gap: 2rem;

      .hero__left {
         .hero__header {
            margin-bottom: 1.5rem;

            span::after {
               top: 9rem;
               left: 0;
            }
         }

         .hero__desc {
            width: 85%;
            margin-bottom: 1.2rem;
         }

         .hero__buttons {
            display: flex;
            flex-direction: column;
         }
      }
   }

   section.help {
      margin-top: 3rem;

      .help__cards {
         gap: 2.5rem;

         .help__header {
            margin-bottom: 1.5rem;
         }

         .help__adopt, .help__donate {
            .help__adopt--header, .help__donate--header {
               margin-bottom: 1rem;
            }

            .help__adopt--desc, .help__donate--desc {
               width: 90%;
               margin-bottom: 1rem;
            }

            .help__adopt--buttons, .help__donate--buttons {
               .help__ctaPrimary a {
                  font-size: .75rem;
                  display: flex;
                  align-items: center;
               }
            }
         }
      }
   }

   section.about {
      .about__header {
         margin-bottom: 1.5rem;
      }

      .about__cards {
         .about__contact {
            margin-bottom: 1.25rem;

            .about__contact--header {
               margin-bottom: .85rem;
            }

            p { font-size: .75rem; }
         }
         
         .about__social {
            margin-bottom: 1.25rem;

            .about__social--header {
               margin-bottom: .85rem;
            }

            i {
               margin-right: .9rem;
            }
         }
   
         .about__policy {
            margin-bottom: 1.25rem;

            .about__policy--header {
               margin-bottom: .85rem;
            }

            .about__policy--flex {
               gap: 1.5rem;

               .about__policy--support li,
               .about__policy--policy li { font-size: .75rem; }
            }
         }

         .about__team {
            display: flex;

            .about__team--cta {
               font-size: .75rem;
               padding-inline: 1rem;
               border-radius: 1.5rem;
               transform: translateY(-8px);
            }
         }
      }
   }
}

@media screen and (max-width: 360px) { // Testimonial
   section.testimonial {
      .swiper {
         .swiper-button-prev, .swiper-button-next {
            transform: translateY(5rem);
         }
      }
   }
}

@media screen and (min-width: 667px) {
   section.hero {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      place-items: center;

      .hero__right {
         .hero__image--img {
            max-width: 100%;
            max-height: 420px;
         }
      }
   }

   section.help {
      .help__cards {
         flex-direction: row;
         justify-content: center;
         gap: 2rem;
         
         .help__adopt, .help__donate { width: 50% }
      }
   }

   section.testimonial {
      margin-bottom: -2rem;

      .swiper {
         max-width: 300px;

         .swiper-wrapper {
            .swiper-slide {
               .swiper__header {
                  justify-content: flex-start;

                  .swiper__header--img {
                     height: 75px;
                     width: 75px;
                  }
   
                  .swiper__header--name {
                     font-size: 1.5rem;
                     line-height: 2rem;
                  }
               }
   
               .swiper__desc {
                  font-size: 1rem;
                  text-align: left;
               }
            }
         }
   
         .swiper-button-prev, .swiper-button-next {
            transform: translateY(6rem);
         }
      }
   }

   section.about {
      .about__cards {
         grid-template-columns: repeat(2, 1fr);
         justify-items: center;
      }
   }
}

@media screen and (min-width: 895px) {
   section.hero {
      .hero__left {
         .hero__header {
            font-size: 3rem;
            line-height: 50px;

            span::after {
               top: 8rem;
               left: 7.5rem;
               width: 255px;
               height: 20px;
            }
         }

         .hero__desc {
            font-size: 1.5rem;
            width: 100%;
         }
      }
   }

   section.help {
      .help__header { font-size: 3rem; }
      
      .help__cards {
         .help__adopt, .help__donate {
            .help__adopt--header, .help__donate--header {
               font-size: 1.75rem;

               & span::after {
                  top: 1.5rem;
                  width: 85px;
               }
            }

            .help__donate--header span::after {
                  width: 100px;
            }

            .help__adopt--desc, .help__donate--desc {
               font-size: 1.25rem;
               width: 80%;
            }
         }
      }
   }

   section.testimonial {
      margin-bottom: 0;

      .testimonial__header {
         font-size: 2.5rem;
      }

      .swiper {
         max-width: 300px;
         padding-bottom: 5rem;

         .swiper-wrapper {
            .swiper-slide {
               .swiper__header {
                  justify-content: flex-start;

                  .swiper__header--img {
                     height: 100px;
                     width: 100px;
                  }
   
                  .swiper__header--name {
                     font-size: 2rem;
                     line-height: 2.5rem;
                  }
               }
   
               .swiper__desc {
                  font-size: 1.2rem;
                  text-align: left;
               }
            }
         }
   
         .swiper-button-prev, .swiper-button-next {
            transform: translateY(10rem);
         }
      }
   }

   section.about {
      .about__header {
         font-size: 3rem;
      }

      .about__cards {
         .about__contact {
            .about__contact--header {
               font-size: 1.75rem;
            }

            p {
               font-size: 1rem;
            }
         }

         .about__social {
            .about__social--header {
               font-size: 1.75rem;
            }

            i {
               margin-right: 2rem;
            }
         }

         .about__policy {
            .about__policy--header {
               font-size: 1.75rem;
            }

            .about__policy--flex {
               .about__policy--support li, .about__policy--policy li{
                  font-size: 1rem;
               }
            }
         }

         .about__team {
            .about__team--header {
               font-size: 1.75rem;
            }
         }
      }
   }
}

@media screen and (min-width: 1150px) { // Desktop
   .container {
      margin-block: 7rem;
   }
   
   header {
      .nav__content {
         padding-block: unset;

         .nav__notExtended {
            position: unset;
            padding: 1rem;
            width: fit-content;

            .nav__logo {
               width: 13.375rem;
               height: auto;
            }
      
            .nav__hamburger {
               display: none;
            }
         }
   
         nav {
            position: unset;
   
            .nav__menu {
               flex-direction: row;
               gap: 4rem;
               float: right;
               padding-block: 1rem;
               box-shadow: unset;
               background-color: transparent;
               box-shadow: none;

               .nav__menu--center {
                  flex-direction: row;
                  gap: 4rem;

                  .nav__links {
                     font-size: 1.5rem;
                  }
               }

               .nav__menu--right {
                  .nav__ctaPrimary, .nav__ctaSecondary {
                     font-size: 1.5rem;
                  }
               }
            }
         }
      }
   }

   section.hero {
      margin-bottom: 21rem;

      .hero__left {
         .hero__header {
            font-size: 5rem;
            line-height: 100px;

            span::after {
               top: 22.5rem;
               left: 0;
               width: 425px;
               height: 28px;
            }
         }

         .hero__desc {
            font-size: 2rem;
            width: 100%;
         }

         .hero__buttons {
            .hero__ctaPrimary, .hero__ctaSecondary {
               font-size: 1.5rem;
            }
         }
      }
   }

   section.help {
      margin-bottom: 21rem;

      .help__header {
         font-size: 5rem;
         margin-bottom: 6rem;
      }

      .help__cards {
         .help__adopt, .help__donate {
            width: 100%;

            .help__adopt--header, .help__donate--header {
               font-size: 3rem;

               & span::after {
                  height: 16px;
                  width: 150px;
                  top: 2.7rem;
               }
            }

            .help__donate--header span::after { width: 180px; }

            .help__adopt--desc, .help__donate--desc {
               font-size: 2rem;
               width: 90%;
            }

            .help__adopt--buttons, .help__donate--buttons {
               .help__iconLight, .help__iconDark {
                  width: 6.25rem;
               }

               .help__ctaPrimary {
                  font-size: 1.5rem;
               }
            }
         }
      }
   }

   section.testimonial {
      .testimonial__header {
         font-size: 5rem;
         margin-bottom: 3rem;
      }

      .swiper {
         max-width: 600px;
         padding-bottom: 10rem;
         margin-top: 4rem;

         .swiper-wrapper {
            .swiper-slide {
               .swiper__header {
                  justify-content: flex-start;
                  gap: 2rem;

                  .swiper__header--img {
                     height: 120px;
                     width: 120px;
                  }
   
                  .swiper__header--name {
                     font-size: 3rem;
                     line-height: 2.5rem;
                  }
               }
   
               .swiper__desc {
                  font-size: 1.5rem;
                  text-align: left;
               }
            }
         }
   
         .swiper-button-prev, .swiper-button-next {
            transform: translateY(6rem);
         }
      }
   }

   section.about {
      .about__header {
         font-size: 5rem;
         margin-bottom: 6rem;
      }

      .about__cards {
         justify-items: unset;

         .about__contact {
            margin-bottom: 4rem;

            .about__contact--header {
               font-size: 3rem;
               margin-bottom: 2.5rem;
            }

            p {
               font-size: 2rem;
            }
         }

         .about__social {
            .about__social--header {
               font-size: 3rem;
               margin-bottom: 2.5rem;
            }

            i {
               margin-left: .5rem;
               margin-right: 5rem;
               transform: scale(1.75);
            }
         }

         .about__policy {
            .about__policy--header {
               font-size: 3rem;
               margin-bottom: 2.5rem;
            }

            .about__policy--flex {
               .about__policy--support li, .about__policy--policy li{
                  font-size: 2rem;
               }
            }
         }

         .about__team {
            .about__team--header {
               font-size: 3rem;
               margin-bottom: 2.5rem;
            }

            .about__team--cta {
               font-size: 2rem;
            }
         }
      }
   }
}

@media screen and (min-width: 1600px) { // Nav Center Align
   header {
      .nav__content {
         nav {
            .nav__menu {
               .nav__menu--center {
                  transform: translateX(-45%);
               }
            }
         }
      }
   }
}

// ---------
// Bug Fixes
// ---------

@media screen and (min-width: 331px) and (max-width: 356px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 6.5rem;
               left: 5rem;
            }
         }
      }
   }
}

@media screen and (width: 331px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 9rem;
               left: 0;
            }
         }
      }
   }
}

@media screen and (min-width: 941px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 4.9rem;
               left: 7.5rem;
            }
         }
      }
   }
}

@media screen and (min-width: 941px) and (max-width: 953px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 8rem;
               left: 7.5rem;
            }
         }
      }
   }
}

@media screen and (min-width: 1150px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 22.5rem;
               left: 0;
            }
         }
      }
   }
}

@media screen and (min-width: 1402px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 16.25rem;
               left: 12.5rem;
            }
         }
      }
   }
}

@media screen and (min-width: 1539px) { // Hero Underline
   section.hero {
      .hero__left {
         .hero__header {
            span::after {
               top: 10rem;
            }
         }
      }
   }
}

// --------------------------------
// Media Queries for Large Displays
// --------------------------------

// 2K - 2560x1440
@media screen and (min-width: 2560px) {
   body {
      zoom: calc(2560/1920);
   }
}

// 4K - 3840x2160
@media screen and (min-width: 3840px) {
   body {
      zoom: calc(3840/1920);
   }
}

// 5K - 5120x2880
@media screen and (min-width: 5120px) {
   body {
      zoom: calc(5120/1920);
   }
}

// 8K - 7680x4320
@media screen and (min-width: 7680px) {
   body {
      zoom: calc(7680/1920);
   }
}